.fab-shadow {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}

.float-left {
  @apply left-4;
}

.float-right {
  @apply right-4;
}

@screen lg {
  .float-left {
    left: calc(calc(100% - 1024px) / 2)
  }

  .float-right {
    right: calc(calc(100% - 1024px) / 2)
  }
}
