.buttonOn {
  @apply bg-dark border-dark text-lightest;
}

.buttonOff {
  @apply text-dark border-primary;
}

.buttonCommon {
  @apply select-none rounded-full text-sm whitespace-nowrap px-2 py-1 border-2 transition duration-100 ease-out;
  -webkit-tap-highlight-color: transparent;
  background-image: none;
}

.buttonCommon:focus {
  outline-width: 0;
}

.buttonCommon::-moz-focus-inner {
  border: 0;
}

.pillOnly {
  @apply cursor-default;
}

/* touch screens */
@media(hover: none) {
  .pillButton.buttonOff:active {
    @apply border-dark text-dark ring-1 ring-dark ring-inset;
  }

  .pillButton.buttonOn:active {
    @apply bg-primary border-primary;
  }
}

/* mouse */
@media(hover: hover) {
  .pillButton.buttonOff:hover {
    @apply border-dark text-dark ring-1 ring-dark ring-inset;
  }

  .pillButton:active {
    @apply opacity-50;
  }

  .pillButton.buttonOn:hover {
    @apply bg-primary border-primary;
  }
}
